@font-face {
    font-family: 'SourceHanSansCN-Regular';
    src: url('../font/SourceHanSansCN-Regular.ttf');
}

body {
    margin: 0;
    color: #ddd;
    font-family: 'SourceHanSansCN-Regular';
    overflow: hidden;
}

.con {
    /* width: 120rem; */
    /* height: 58rem; */
    border: 1px solid #333;
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.con img {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(1.02);
    transition: all .3s;
}

.interface, .pause, .set-pannel, .rule-pannel, .over {
    width: 500px;
    height: 309px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 24px;
    /* overflow: hidden; */
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
    z-index: 2;
    transition: all .3s;
    transform-origin: 466px 34px;
    transform: translate3d(0, 0, 0);
    backdrop-filter: blur(5px);
}

.rule-pannel {
    /* margin: 0; */
    font-size: 20px;
    padding: 20px;
    text-align: left;
    transform: scale(.2);
    transform-origin: 165px 255px;
    opacity: 0;
    display: none;
}

.rule-pannel h1 {
    margin: 10px 0 20px 0;
    font-size: 22px;
}

.rule-pannel p {
    line-height: 1.5;
}

.understood {
    font-size: 25px;
    cursor: pointer;
    width: 80px;
    margin: 35px auto;
}

.author {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 12px;
    text-decoration: underline;
    color: #ddd;
}

.pause {
    width: 529px;
    height: 329px;
    filter: blur(20px);
    opacity: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .2);
}

.set-pannel {
    /* margin: 20px; */
    opacity: 0;
    transform: scale(.2);
    z-index: 1;
}

.back {
    position: absolute;
    top: 20px;
    right: 20px;

}

.speed, .char-num, .set-btns {
    margin: 0 auto;
    width: 400px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-around;
}

.speed, .char-num {
    height: 110px;
}

.set-btns { 
    height: 70px;
}

.speed input, .char-num input{
    width: 250px;
    cursor: pointer;
}

.spd-value {
    position: absolute;
    width: 0px;
    height: 0px;
    top: -10px;
    overflow: hidden;
    transition: all .5s;
    color: transparent;
    padding-top: 15px;
}

.rule, .positive {
    cursor: pointer;
    font-size: 25px;
}

.pause .start {
    cursor: default;
}

.title {
    font-size: 60px;
    margin-top: 60px;
    cursor: default;
}

.start {
    display: inline-block;
    margin-top: 80px;
    cursor: pointer;
    font-size: 40px;
}

.pause:hover {
    background-color: rgba(255, 255, 255, .23);
}

.interface:hover, .set-pannel:hover {
    background-color: rgba(255, 255, 255, .2);
}

.settings, .back {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
    /* z-index: 4; */
}

.settings i, .back i {
    transition: all .3s;
}

/* 生命值、计分板开始 */
.score, .life {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 16px;
    position: absolute;
    top: 20px;
    transition: all .2s ease-out;
    text-align: center;
    line-height: 3;
    z-index: 1;
    font-size: 18px;
    right: -110px;
    backdrop-filter: blur(10px);
}

.score div, .life div {
    line-height: 1;
}
/* 生命值、计分板结束 */

/* 开场动画 */
.pre-animate {
    width: 350px;
    height: 200px;
    /* background-color: #000; */
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* display: none; */
    text-align: center;
    font-size: 190px;
    transition: all .3s;
    filter: blur(20px);
}

/* 游戏场景 */
.scene {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

/* 游戏结束面板 */
.over {
    /* margin: 0; */
    /* display: block; */
    display: none;
    z-index: 1;
    filter: blur(20px);
    transform-origin: 250px 168px;
}

.btn-group {
    margin-top: 20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.return, .restart {
    cursor: pointer;
    font-size: 25px;
    width: 140px;
    line-height: 2.5;
}
