<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>注册</title>
    <link rel="stylesheet" href="{CSS_ADD}reset200802.css">
    <link rel="stylesheet" href="{CSS_ADD}bootstrap.css">
    <link rel="stylesheet" href="{CSS_ADD}base.css">
    <link rel="stylesheet" href="{CSS_ADD}admin/reg.css">
    <script src="{JS_ADD}jquery-3.5.1.min.js"></script>
    <script src="{JS_ADD}jquery.validate.min.js"></script>
    <script src="{JS_ADD}admin/reg.js"></script>
    <script src="{JS_ADD}base.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-border">
                <h3 class="text-center">注册</h3>
                <form action="/mvc/index.php/admin/index/addUser" method="POST" class="form-horizontal" id="reg">
                    <div class="form-group">
                        <label for="name" class="control-label col-sm-2">用户名</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="用户名" name="name" id="name" class="form-control" autocomplete="off" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="control-label col-sm-2">密码</label>
                        <div class="col-sm-9">
                            <input type="password" name="pass" id="pass" class="form-control" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass2" class="control-label col-sm-2">确认密码</label>
                        <div class="col-sm-9">
                            <input type="password" name="pass2" id="pass2" class="form-control" placeholder="确认密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary">提交信息</button>
                            <a href="/mvc/index.php/admin/index/undyne" class="btn btn-default" id="getHeight">返回登录</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {if $height != 0}
    <script>
        $('.form-border').css({
            height: '{$height}px',
        })
    </script>
    {/if}
</body>
</html>