<!-- 底部开始 -->
<footer>
    <div class="wab-map">
        <nav class="web-map-con container">
            <ul>
                <li>
                    <dl>
                        <dt>产品中心</dt>
                        <dd><a href="javascript:;">集成灶</a></dd>
                        <dd><a href="javascript:;">燃气灶具</a></dd>
                        <dd><a href="javascript:;">吸油烟机</a></dd>
                        <dd><a href="javascript:;">消毒柜</a></dd>
                        <dd><a href="javascript:;">热水器</a></dd>
                        <dd><a href="javascript:;">壁挂炉</a></dd>
                        <dd><a href="javascript:;">蒸烤箱</a></dd>
                        <dd><a href="javascript:;">洗碗机</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>服务支持</dt>
                        <dd><a href="javascript:;">服务首页</a></dd>
                        <dd><a href="javascript:;">专卖店查询</a></dd>
                        <dd><a href="javascript:;">帮助中心</a></dd>
                        <dd><a href="javascript:;">维修服务</a></dd>
                        <dd><a href="javascript:;">安检清洗服务</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>火王文化</dt>
                        <dd><a href="javascript:;">企业文化</a></dd>
                        <dd><a href="javascript:;">匠心学院</a></dd>
                        <dd><a href="javascript:;">火文化</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>媒体中心</dt>
                        <dd><a href="javascript:;">头条新闻</a></dd>
                        <dd><a href="javascript:;">市场活动</a></dd>
                        <dd><a href="javascript:;">媒体报道</a></dd>
                        <dd><a href="javascript:;">行业新闻</a></dd>
                        <dd><a href="javascript:;">火王影音</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>关于火王</dt>
                        <dd><a href="javascript:;">企业简介</a></dd>
                        <dd><a href="javascript:;">发展历程</a></dd>
                        <dd><a href="javascript:;">企业荣誉</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>火王招聘</dt>
                        <dd><a href="javascript:;">加入我们</a></dd>
                        <dd><a href="javascript:;">校园招聘</a></dd>
                        <dd><a href="javascript:;">社会招聘</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>招商加盟</dt>
                        <dd><a href="javascript:;">加盟火王</a></dd>
                        <dd><a href="javascript:;">专卖店风采</a></dd>
                        <dd><a href="javascript:;">火王实力</a></dd>
                        <dd><a href="javascript:;">市场活动</a></dd>
                        <dd><a href="javascript:;">营销会议</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>工程合作</dt>
                        <dd><a href="javascript:;">工程项目</a></dd>
                        <dd><a href="javascript:;">合作案例</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>联系我们</dt>
                        <dd><a href="javascript:;">联系我们</a></dd>
                    </dl>
                </li>
            </ul>
        </nav>
    </div>
    <div class="copyright">
        <div class="copyright-con container">
            <div class="copyright-left">
                <p>版权所有：@2019 深圳市火王燃器具有限公司</p>
                <p>地址：深圳市宝安区宝源路宝港中心九层</p>
                <p><a href="javascript:;">Powered by eidea</a></p>
            </div>
            <div class="copyright-right">
                <p>全国服务热线</p>
                <h3>400 688 1992</h3>
                <div class="share-img">
                    <img src="http://www.huowang.com.cn/uploads/images/2017-12-21-16-31-30.png">
                    <img src="http://www.huowang.com.cn/uploads/images/2017-12-21-16-31-32.png">
                </div>
                <div class="share-list">
                    <a href="javascript:;">
                        <img src="http://www.huowang.com.cn/static/home/images/share-img-call.png" alt="">
                    </a>
                    <a href="javascript:;">
                        <img src="http://www.huowang.com.cn/static/home/images/share-img-1.png" alt="">
                    </a>
                    <a href="javascript:;">
                        <img src="http://www.huowang.com.cn/static/home/images/share-img-2.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- 底部结束 -->