<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仅作练习 如有侵权 立即删除</title>
    <link rel="shortcut icon" href="./shortcut-icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/reset200802.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/media.css">
    <style>
        .banner-con {
            height: 537px;
        }

        .banner {
            height: 634px !important;
        }
    </style>
</head>
<body>
    <!-- 头部开始 -->
    <header class="header">
        <div class="header-con">
            <a class="logo" href="javascript:;">
                    <img src="" data-src="http://www.huowang.com.cn/static/home/images/top-logo.png">
            </a>
            <nav class="nav">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="product.html">产品</a></li>
                    <li><a href="server.html">服务</a></li>
                    <li><a href="culture.html">火王文化</a></li>
                    <li class="active"><a href="mediacenter.html">媒体中心</a></li>
                    <li><a href="javascript:;">招商加盟</a></li>
                    <li><a href="javascript:;">火王商城</a></li>
                </ul>
                <form action="#">
                    <img src="" data-src="http://www.huowang.com.cn/static/home/images/top-search.png">
                    <div class="search-box">
                        <input type="text" placeholder="请输入产品名称" name="keyword" autocomplete="off">
                        <div class="search-box-close"></div>
                    </div>
                </form>
            </nav>
            
        </div>
        <div class="nav-list-con">
            <nav class="product">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-3.png">
                            </div>
                            <div class="text-con">
                                <span>集成灶</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-1.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-1.png">
                            </div>
                            <div class="text-con">
                                <span>燃气灶具</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-2.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-2.png">
                            </div>
                            <div class="text-con">
                                <span>吸油烟机</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-4.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-4.png">
                            </div>
                            <div class="text-con">
                                <span>消毒柜</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-5.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-5.png">
                            </div>
                            <div class="text-con">
                                <span>热水器</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-8.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-8.png">
                            </div>
                            <div class="text-con">
                                <span>壁挂炉</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-6.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-6.png">
                            </div>
                            <div class="text-con">
                                <span>蒸烤箱</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-7.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-7.png">
                            </div>
                            <div class="text-con">
                                <span>洗碗机</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="service">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3-1.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3-1-h.png">
                            </div>
                            <div class="text-con">
                                <span>服务首页</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3-2.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3-2-h.png">
                            </div>
                            <div class="text-con">
                                <span>专卖店查询</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3-3.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3-3-h.png">
                            </div>
                            <div class="text-con">
                                <span>帮助中心</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3-4.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3-4-h.png">
                            </div>
                            <div class="text-con">
                                <span>维修服务</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3-5.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3-5-h.png">
                            </div>
                            <div class="text-con">
                                <span>安检清洗服务</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="culture">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-4-1.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-4-1-h.png">
                            </div>
                            <div class="text-con">
                                <span>企业文化</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-4-2.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-4-2-h.png">
                            </div>
                            <div class="text-con">
                                <span>匠心学院</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-4-3.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-4-3-h.png">
                            </div>
                            <div class="text-con">
                                <span>火文化</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="media">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-5-1.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-5-1-h.png">
                            </div>
                            <div class="text-con">
                                <span>头条新闻</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-5-2.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-5-2-h.png">
                            </div>
                            <div class="text-con">
                                <span>媒体报道</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-5-4.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-5-4-h.png">
                            </div>
                            <div class="text-con">
                                <span>市场活动</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-5-3.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-5-3-h.png">
                            </div>
                            <div class="text-con">
                                <span>火王音影</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="join"></div>
            <div class="shop">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-4-3.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-4-3-h.png">
                            </div>
                            <div class="text-con">
                                <span>火王商城</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-8-1.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-8-1-h.png">
                            </div>
                            <div class="text-con">
                                <span>天猫</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-8-2.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-8-2-h.png">
                            </div>
                            <div class="text-con">
                                <span>京东</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-8-3.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-8-3-h.png">
                            </div>
                            <div class="text-con">
                                <span>苏宁</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="img-con">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-8-4.png">
                                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-8-4-h.png">
                            </div>
                            <div class="text-con">
                                <span>国美</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fix-bar">
            <a href="javascript:;" class="call">
                <img src="" data-src="http://www.huowang.com.cn/static/home/images/fix-bar-call.png">
            </a>
            <a href="javascript:;" class="top">
                <img src="" data-src="http://www.huowang.com.cn/static/home/images/fix-bar-top.png">
                <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/fix-bar-top-h.png">
            </a>
        </div>     
    </header>
    <!-- 头部结束 -->
    <main>
        <section class="banner-con">
            <div class="banner bigger">
                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2019-08-21-16-54-05.jpg">
            </div>
        </section>
        <section class="bread-crumbs">
            <div class="container">
                <a href="index.html">首页</a>
                <span>/</span>
                <a href="mediacenter.html">新闻</a>
                <span>/</span>
                <a href="javascript:;">头条新闻</a>
            </div>
        </section>
        <section class="media-news">
            <div class="container">
                <nav class="news-nav letmove">
                    <ul>
                        <li class="nav-active">
                            <a href="javascript:;">
                                <span>头条新闻</span>
                                <i></i>
                                <div class="nav-circle">

                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>市场活动</span>
                                <i></i>
                                <div class="nav-circle">

                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>媒体报道</span>
                                <i></i>
                                <div class="nav-circle">

                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>行业新闻</span>
                                <i></i>
                                <div class="nav-circle">

                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>火王音影</span>
                                <i></i>
                                <div class="nav-circle">

                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="news-list">
                    <li class="letmove">
                        <div class="news-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-08-01-11-40-03.jpg">
                            </a>
                        </div>
                        <div class="news-desc">
                            <h1>
                                <a href="javascript:;">蝶变2020 风雨兼程</a>
                            </h1>
                            <div class="new-detail">
                                <span class="time">
                                    <img src="http://www.huowang.com.cn/static/home/images/news-time.png">
                                    2020-03-27
                                </span>
                                <span class="from">
                                    <img src="http://www.huowang.com.cn/static/home/images/news-author.png">
                                    火王
                                </span>
                            </div>
                            <p>2020年7月28日至29日，公司召开了“蝶变2020 风雨兼程”为主题的年中营销峰会</p>
                            <a href="javascript:;" class="news-more">
                                <span>></span>
                            </a>
                        </div>
                        
                    </li>
                    <li class="letmove">
                        <div class="news-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-07-10-11-40-18.jpg">
                            </a>
                        </div>
                        <div class="news-desc">
                            <h1>
                                <a href="javascript:;">2020欧洲红点奖出炉 中国企业斩获设计界“奥斯卡”</a>
                            </h1>
                            <div class="new-detail">
                                <span class="time">
                                    <img src="http://www.huowang.com.cn/static/home/images/news-time.png">
                                    2020-03-27
                                </span>
                                <span class="from">
                                    <img src="http://www.huowang.com.cn/static/home/images/news-author.png">
                                    火王新闻
                                </span>
                            </div>
                            <p>近日，2020德国红点奖评选结果揭晓，深圳市火王燃器具有限公司斩获德国红点奖一枚。 </p>
                            <a href="javascript:;" class="news-more">
                                <span>></span>
                            </a>
                        </div>
                        
                    </li>
                    <li class="letmove">
                        <div class="news-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-04-16-21-46-37.jpg">
                            </a>
                        </div>
                        <div class="news-desc">
                            <h1>
                                <a href="javascript:;">413苏皖大区会议顺利召开</a>
                            </h1>
                            <div class="new-detail">
                                <span class="time">
                                    <img src="http://www.huowang.com.cn/static/home/images/news-time.png">
                                    2020-03-27
                                </span>
                                <span class="from">
                                    <img src="http://www.huowang.com.cn/static/home/images/news-author.png">
                                    火王新闻
                                </span>
                            </div>
                            <p>新目标，新大促，为统一思想，坚定目标，全力以赴打好五一销售攻坚战，4月13-14日下午，苏皖大区在火王AI智能集成灶华东营销中心（合肥鑫翰工业园）召开了启动大会。
                                启动会气氛都十分热烈，充分展现了家人们的信心满满和苏皖铁军的磅礴气势。</p>
                            <a href="javascript:;" class="news-more">
                                <span>></span>
                            </a>
                        </div>
                        
                    </li>
                    <li class="letmove">
                        <div class="news-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-04-14-09-30-56.jpg">
                            </a>
                        </div>
                        <div class="news-desc">
                            <h1>
                                <a href="javascript:;">火王411直播精彩回顾</a>
                            </h1>
                            <div class="new-detail">
                                <span class="time">
                                    <img src="http://www.huowang.com.cn/static/home/images/news-time.png">
                                    2020-03-27
                                </span>
                                <span class="from">
                                    <img src="http://www.huowang.com.cn/static/home/images/news-author.png">
                                    火王新闻
                                </span>
                            </div>
                            <p>从“纯线下”到“线下为主线上为辅”，再到“线上线下深度融合”，传统行业正在经历着不断的改革。疫情期间，火王正以积极的姿态拥抱消费者。</p>
                            <a href="javascript:;" class="news-more">
                                <span>></span>
                            </a>
                        </div>
                        
                    </li>
                    <li class="letmove">
                        <div class="news-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-03-31-09-27-21.jpg">
                            </a>
                        </div>
                        <div class="news-desc">
                            <h1>
                                <a href="javascript:;">直播招商会首战告捷</a>
                            </h1>
                            <div class="new-detail">
                                <span class="time">
                                    <img src="http://www.huowang.com.cn/static/home/images/news-time.png">
                                    2020-03-27
                                </span>
                                <span class="from">
                                    <img src="http://www.huowang.com.cn/static/home/images/news-author.png">
                                    火王新闻
                                </span>
                            </div>
                            <p>3月30日，火王集成灶再出硬核大动作，火王集成灶首场直播招商会成功举办，吸引了来自全国各地的行业精英们前来参加。</p>
                            <a href="javascript:;" class="news-more">
                                <span>></span>
                            </a>
                        </div>
                        
                    </li>
                </ul>
                <div class="page-ctrl letmove">
                    <ul>
                        <li>
                            «
                        </li>
                        <li class="selected">
                            1
                        </li>
                        <li>
                            <a href="./product_page2.html">2</a>
                        </li>
                        <li>
                            <a href="javascript:;">3</a>
                        </li>
                        <li>
                            <a href="javascript:;">4</a>
                        </li>
                        <li>
                            <a href="javascript:;">5</a>
                        </li>
                        <li>
                            <a href="javascript:;">6</a>
                        </li>
                        <li>
                            <a href="javascript:;">7</a>
                        </li>
                        <li>
                            <a href="javascript:;">8</a>
                        </li>
                        <li>
                            <a href="javascript:;">...</a>
                        </li>
                        <li>
                            <a href="javascript:;">32</a>
                        </li>
                        <li>
                            <a href="javascript:;">33</a>
                        </li>
                        <li>
                            <a href="javascript:;">»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <!-- 底部开始 -->
    <footer>
        <div class="wab-map">
            <nav class="web-map-con container">
                <ul>
                    <li>
                        <dl>
                            <dt>产品中心</dt>
                            <dd><a href="javascript:;">集成灶</a></dd>
                            <dd><a href="javascript:;">燃气灶具</a></dd>
                            <dd><a href="javascript:;">吸油烟机</a></dd>
                            <dd><a href="javascript:;">消毒柜</a></dd>
                            <dd><a href="javascript:;">热水器</a></dd>
                            <dd><a href="javascript:;">壁挂炉</a></dd>
                            <dd><a href="javascript:;">蒸烤箱</a></dd>
                            <dd><a href="javascript:;">洗碗机</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>服务支持</dt>
                            <dd><a href="javascript:;">服务首页</a></dd>
                            <dd><a href="javascript:;">专卖店查询</a></dd>
                            <dd><a href="javascript:;">帮助中心</a></dd>
                            <dd><a href="javascript:;">维修服务</a></dd>
                            <dd><a href="javascript:;">安检清洗服务</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>火王文化</dt>
                            <dd><a href="javascript:;">企业文化</a></dd>
                            <dd><a href="javascript:;">匠心学院</a></dd>
                            <dd><a href="javascript:;">火文化</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>媒体中心</dt>
                            <dd><a href="javascript:;">头条新闻</a></dd>
                            <dd><a href="javascript:;">市场活动</a></dd>
                            <dd><a href="javascript:;">媒体报道</a></dd>
                            <dd><a href="javascript:;">行业新闻</a></dd>
                            <dd><a href="javascript:;">火王影音</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>关于火王</dt>
                            <dd><a href="javascript:;">企业简介</a></dd>
                            <dd><a href="javascript:;">发展历程</a></dd>
                            <dd><a href="javascript:;">企业荣誉</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>火王招聘</dt>
                            <dd><a href="javascript:;">加入我们</a></dd>
                            <dd><a href="javascript:;">校园招聘</a></dd>
                            <dd><a href="javascript:;">社会招聘</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>招商加盟</dt>
                            <dd><a href="javascript:;">加盟火王</a></dd>
                            <dd><a href="javascript:;">专卖店风采</a></dd>
                            <dd><a href="javascript:;">火王实力</a></dd>
                            <dd><a href="javascript:;">市场活动</a></dd>
                            <dd><a href="javascript:;">营销会议</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>工程合作</dt>
                            <dd><a href="javascript:;">工程项目</a></dd>
                            <dd><a href="javascript:;">合作案例</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>联系我们</dt>
                            <dd><a href="javascript:;">联系我们</a></dd>
                        </dl>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="copyright">
            <div class="copyright-con container">
                <div class="copyright-left">
                    <p>版权所有：@2019 深圳市火王燃器具有限公司</p>
                    <p>地址：深圳市宝安区宝源路宝港中心九层</p>
                    <p><a href="javascript:;">Powered by eidea</a></p>
                </div>
                <div class="copyright-right">
                    <p>全国服务热线</p>
                    <h3>400 688 1992</h3>
                    <div class="share-img">
                        <img src="http://www.huowang.com.cn/uploads/images/2017-12-21-16-31-30.png">
                        <img src="http://www.huowang.com.cn/uploads/images/2017-12-21-16-31-32.png">
                    </div>
                    <div class="share-list">
                        <a href="javascript:;">
                            <img src="http://www.huowang.com.cn/static/home/images/share-img-call.png" alt="">
                        </a>
                        <a href="javascript:;">
                            <img src="http://www.huowang.com.cn/static/home/images/share-img-1.png" alt="">
                        </a>
                        <a href="javascript:;">
                            <img src="http://www.huowang.com.cn/static/home/images/share-img-2.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- 底部结束 -->
    <script src="../../js/jquery-3.5.1.min.js"></script>
    <script src="./js/base.js"></script>
    <script src="./js/media.js"></script>
</body>
</html>