<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仅作练习 如有侵权 立即删除</title>
    <link rel="shortcut icon" href="{IMG_ADD}shortcut-icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{CSS_ADD}reset200802.css">
    <link rel="stylesheet" href="{CSS_ADD}index/base.css">
    <link rel="stylesheet" href="{CSS_ADD}index/product.css">
    <style>
        .header-con {
            background-color: #fff;
        }
    </style>
</head>
<body>
    {include file='./header.html'}
    <!-- 主体开始 -->
    <main>
        <div class="bread-crumbs">
            <div class="container">
                <a href="index.html">首页</a>
                <span>/</span>
                <a href="product.html">产品</a>
                <span>/</span>
                <a href="javascript:;">集成灶</a>
            </div>
        </div>
        <!-- <section class="banner"></section> -->
        <nav class="middle-nav">
            <ul>
                <li class="middle-item-1">
                    <a href="javascript:;">
                        <div class="img-con">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-3.png">
                            <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-3.png">
                        </div>
                        <div class="text-con">
                            <span>集成灶</span>
                        </div>
                    </a>
                </li>
                <li class="middle-item-2">
                    <a href="javascript:;">
                        <div class="img-con">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-1.png">
                            <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-1.png">
                        </div>
                        <div class="text-con">
                            <span>燃气灶具</span>
                        </div>
                    </a>
                </li>
                <li class="middle-item-3">
                    <a href="javascript:;">
                        <div class="img-con">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-2.png">
                            <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-2.png">
                        </div>
                        <div class="text-con">
                            <span>吸油烟机</span>
                        </div>
                    </a>
                </li>
                <li class="middle-item-4">
                    <a href="javascript:;">
                        <div class="img-con">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-4.png">
                            <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-4.png">
                        </div>
                        <div class="text-con">
                            <span>消毒柜</span>
                        </div>
                    </a>
                </li>
                <li class="middle-item-5">
                    <a href="javascript:;">
                        <div class="img-con">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-5.png">
                            <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-5.png">
                        </div>
                        <div class="text-con">
                            <span>热水器</span>
                        </div>
                    </a>
                </li>
                <li class="middle-item-6">
                    <a href="javascript:;">
                        <div class="img-con">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-8.png">
                            <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-8.png">
                        </div>
                        <div class="text-con">
                            <span>壁挂炉</span>
                        </div>
                    </a>
                </li>
                <li class="middle-item-7">
                    <a href="javascript:;">
                        <div class="img-con">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-6.png">
                            <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-6.png">
                        </div>
                        <div class="text-con">
                            <span>蒸烤箱</span>
                        </div>
                    </a>
                </li>
                <li class="middle-item-8">
                    <a href="javascript:;">
                        <div class="img-con">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-7.png">
                            <img class="img-replace" src="" data-src="http://www.huowang.com.cn/static/home/images/pro-img-h-7.png">
                        </div>
                        <div class="text-con">
                            <span>洗碗机</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="all-key letmove">
            <a href="product.html">全部</a>
        </section>
        <section class="products">
            <div class="container">
                <ul class="products-con">
                    {foreach $product as $v}
                    <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="{$v['proimgurl']}">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>{$v['proname']}</strong>
                                    {$v['proid']}
                                </a>
                            </h3>
                            <article>
                                <p>{$v['prodesc1']}</p>
                                <p>{$v['prodesc2']}</p>
                                <p>{$v['prodesc3']}</p>
                            </article>
                        </div>
                    </li>
                    {/foreach}
                    <!-- <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-02-13-11-55-49.jpg">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>火王智能集成灶</strong>
                                    JJZ-523A1/ZK
                                </a>
                            </h3>
                            <article>
                                <p>独具匠心，魅力设计，高效猛火，热效率同比高16%</p>
                                <p>立体洁净，侧吸下排净吸系统，二次油烟分离立体洁净</p>
                                <p>集成控制 ，一体集成控制面板，人性化自动感应</p>
                            </article>
                        </div>
                    </li>
                    <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-02-13-11-55-02.jpg">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>火王智能集成灶</strong>
                                    JJZ-523X6T/X
                                </a>
                            </h3>
                            <article>
                                <p>独具匠心，魅力设计，高效猛火，热效率同比高16%</p>
                                <p>立体洁净，侧吸下排净吸系统，二次油烟分离立体洁净</p>
                                <p>集成控制 ，一体集成控制面板，人性化自动感应</p>
                            </article>
                        </div>
                    </li>
                    <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-02-13-11-54-03.jpg">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>火王智能集成灶</strong>
                                    JJZ-523X6/X
                                </a>
                            </h3>
                            <article>
                                <p>独具匠心，魅力设计，高效猛火，热效率同比高16%</p>
                                <p>立体洁净，侧吸下排净吸系统，二次油烟分离立体洁净</p>
                                <p>集成控制 ，一体集成控制面板，人性化自动感应</p>
                            </article>
                        </div>
                    </li>
                    <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-02-13-11-56-32.jpg">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>火王智能集成灶</strong>
                                    JJZ-320X6T/Z
                                </a>
                            </h3>
                            <article>
                                <p>独具匠心，魅力设计，高效猛火，热效率同比高16%</p>
                                <p>立体洁净，侧吸下排净吸系统，二次油烟分离立体洁净</p>
                                <p>集成控制 ，一体集成控制面板，人性化自动感应</p>
                            </article>
                        </div>
                    </li>
                    <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-02-13-11-54-03.jpg">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>火王智能集成灶</strong>
                                    JJZ-320X6T/X
                                </a>
                            </h3>
                            <article>
                                <p>独具匠心，魅力设计，高效猛火，热效率同比高16%</p>
                                <p>立体洁净，侧吸下排净吸系统，二次油烟分离立体洁净</p>
                                <p>集成控制 ，一体集成控制面板，人性化自动感应</p>
                            </article>
                        </div>
                    </li>
                    <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-02-13-11-50-25.jpg">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>火王智能集成灶</strong>
                                    JJZ-320X6/X
                                </a>
                            </h3>
                            <article>
                                <p>独具匠心，魅力设计，高效猛火，热效率同比高16%</p>
                                <p>立体洁净，侧吸下排净吸系统，二次油烟分离立体洁净</p>
                                <p>集成控制 ，一体集成控制面板，人性化自动感应</p>
                            </article>
                        </div>
                    </li>
                    <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-02-13-11-43-50.jpg">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>火王智能集成灶</strong>
                                    JJZ-310X5D/X
                                </a>
                            </h3>
                            <article>
                                <p>独具匠心，魅力设计，高效猛火，热效率同比高16%</p>
                                <p>立体洁净，侧吸下排净吸系统，二次油烟分离立体洁净</p>
                                <p>集成控制 ，一体集成控制面板，人性化自动感应</p>
                            </article>
                        </div>
                    </li>
                    <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-05-26-19-15-15.jpg">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>火王智能集成灶</strong>
                                    JJZ-310X5/ZK
                                </a>
                            </h3>
                            <article>
                                <p>独具匠心，魅力设计，高效猛火，热效率同比高16%</p>
                                <p>立体洁净，侧吸下排净吸系统，二次油烟分离立体洁净</p>
                                <p>集成控制 ，一体集成控制面板，人性化自动感应</p>
                            </article>
                        </div>
                    </li>
                    <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-02-13-11-41-39.jpg">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>火王智能集成灶</strong>
                                    JJZ-310X5/X
                                </a>
                            </h3>
                            <article>
                                <p>独具匠心，魅力设计，高效猛火，热效率同比高16%</p>
                                <p>立体洁净，侧吸下排净吸系统，二次油烟分离立体洁净</p>
                                <p>集成控制 ，一体集成控制面板，人性化自动感应</p>
                            </article>
                        </div>
                    </li>
                    <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-02-13-11-40-34.jpg">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>火王智能集成灶</strong>
                                    JJZ-90T/Z
                                </a>
                            </h3>
                            <article>
                                <p>独具匠心，魅力设计，高效猛火，热效率同比高16%</p>
                                <p>立体洁净，侧吸下排净吸系统，二次油烟分离立体洁净</p>
                                <p>集成控制 ，一体集成控制面板，人性化自动感应</p>
                            </article>
                        </div>
                    </li>
                    <li class="letmove">
                        <div class="product-img">
                            <a href="javascript:;">
                                <img src="" data-src="http://www.huowang.com.cn/uploads/images/2020-02-13-11-39-31.jpg">
                            </a>
                        </div>
                        <div class="product-desc">
                            <h3>
                                <a href="javascript:;">
                                    <strong>火王智能集成灶</strong>
                                    JJZ-90T/B
                                </a>
                            </h3>
                            <article>
                                <p>独具匠心，魅力设计，高效猛火，热效率同比高16%</p>
                                <p>立体洁净，侧吸下排净吸系统，二次油烟分离立体洁净</p>
                                <p>集成控制 ，一体集成控制面板，人性化自动感应</p>
                            </article>
                        </div>
                    </li> -->
                </ul>
                <div class="page-ctrl letmove">
                    <ul>
                        <li>
                            «
                        </li>
                        <li class="selected">
                            1
                        </li>
                        <li>
                            <a href="./product_page2.html">2</a>
                        </li>
                        <li>
                            <a href="./product_page2.html">»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <!-- 主体结束 -->
    {include file='./footer.html'}
    <script src="{JS_ADD}jquery-3.5.1.min.js"></script>
    <script src="{JS_ADD}index/base.js"></script>
    <script src="{JS_ADD}index/product.js"></script>
</body>
</html>