<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仅作练习 如有侵权 立即删除</title>
    <link rel="shortcut icon" href="{IMG_ADD}shortcut-icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{CSS_ADD}reset200802.css">
    <link rel="stylesheet" href="{CSS_ADD}index/base.css">
    <link rel="stylesheet" href="{CSS_ADD}index/server.css">
    <style>
        /* .header-con {
            background-color: #fff;
        } */

        
    </style>
</head>
<body>
    {include file='./header.html'}
    <!-- 主体开始 -->
    <main>
        <div class="banner-con">
            <section class="banner bigger">
                <a href="javascript:;">
                    <img src="" data-src="http://www.huowang.com.cn/uploads/images/2019-03-21-20-42-16.jpg">
                </a>
            </section>
        </div> 
        <div class="bread-crumbs">
            <div class="container">
                <a href="index.html">首页</a>
                <span>/</span>
                <a href="server.html">服务</a>
                <span>/</span>
                <a href="javascript:;">服务首页</a>
            </div>
        </div>
        <section class="serv-list">
            <div class="container">
                <div class="list list-1 letmove">
                    <a href="javascript:;" class="list-1-item">
                        <p>预约维修</p>
                        <div class="list-1-img">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/list-one-img-1.png">
                        </div>
                    </a>
                    <a href="javascript:;" class="list-1-item">
                        <p>安装服务</p>
                        <div class="list-1-img">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/list-one-img-2.png">
                        </div>
                    </a>
                    <a href="javascript:;" class="list-1-item">
                        <p>服务政策</p>
                        <div class="list-1-img">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/list-one-img-3.png">
                        </div>
                    </a>
                    <a href="javascript:;" class="list-1-item">
                        <p>帮助中心</p>
                        <div class="list-1-img">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/list-one-img-4.png">
                        </div>
                    </a>
                </div>
                <div class="list imgs letmove">
                    <div class="imgs-item">
                        <a href="javascript:;">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/big-img-1.jpg">
                            <div class="img-desc">
                                <h3>安检活动</h3>
                                <p>（vip专项）</p>
                            </div>
                        </a>
                    </div>
                    <div class="imgs-item">
                        <a href="javascript:;">
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/big-img-2.jpg">
                            <div class="img-desc">
                                <h3>油烟机预埋烟管</h3>
                                <p>（吸力好，安装也要到位）</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="list list-2 letmove">
                    <a class="list-2-item" href="javascript:;">
                        <h3>专卖店查询</h3>
                        <p>实体店了解更多</p>
                        <div class="list-2-img"><img src="" data-src="http://www.huowang.com.cn/static/home/images/list-one-img-5.png"></div>
                    </a>
                    <a class="list-2-item" href="javascript:;">
                        <h3>咨询在线客服</h3>
                        <p>为您提供贴心服务</p>
                        <div class="list-2-img"><img src="" data-src="http://www.huowang.com.cn/static/home/images/list-one-img-6.png"></div>
                    </a>
                    <a class="list-2-item" href="javascript:;">
                        <h3>火王服务公众号</h3>
                        <p>微信售后更方便</p>
                        <div class="list-2-img"><img src="" data-src="http://www.huowang.com.cn/static/home/images/list-one-img-7.png"></div>
                        <div class="serv-qrcode">
                            <p>关注微信号</p>
                            <p>服务咨询更方便！</p>
                            <i class="arrow">
                                <img src="" data-src="http://www.huowang.com.cn/static/home/images/serv-qrcode-arrow.png">
                            </i>
                            <img src="" data-src="http://www.huowang.com.cn/static/home/images/serv-qrcode.jpg">
                        </div>
                    </a>
                    <a class="list-2-item" href="javascript:;">
                        <h3>拨打火王热线电话</h3>
                        <p>24小时为您服务</p>
                        <div class="list-2-img"><img src="" data-src="http://www.huowang.com.cn/static/home/images/list-one-img-8.png">
                        <p>400-688-1992</p></div>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <!-- 主题结束 -->
    {include file='./footer.html'}
    <script src="{JS_ADD}jquery-3.5.1.min.js"></script>
    <script src="{JS_ADD}index/base.js"></script>
    <script src="{JS_ADD}index/server.js"></script>
</body>
</html>