
html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
}

header {
    width: 100%;
    height: 90px;
    background-color: #fafafa;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    position: relative;
}

.lft-header {
    padding: 20px 0 0 30px;
}

.logo {
    font-family: Ping Fang SC;
    font-weight: bold;
    font-size: 40px;
}

.title {
    font-size: 25px;
    line-height: 60px;
    margin-left: 20px;
}

.rt-header {
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
}

.user {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.head-shot {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.triangle {
    margin-left: 5px;
    cursor: pointer;
}

main {
    width: 100%;
    height: calc(100% - 90px);
}

nav {
    height: 100%;
    width: 250px;
    background-color: #fafafa;
    border-right: 1px solid #ddd;
    float: left;
}

nav ul {
    padding-top: 15px;
}

nav li {
    font-size: 16px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    position: relative;
}

nav li a {
    display: flex;
    color: #333;
    cursor: default;
    padding: 15px 0 15px 30px;
    transition: all .3s;
}

nav li a:hover, nav li a:visited, nav li a:active, nav li a:link {
    color: #222222;
    text-decoration: none;
}

li.on, .box div.on {
    border-color: #dfdfdf;
    background-color: #f6f6f6;
    box-shadow: 0 0 10px  rgba(0, 0, 0, .2);
}

li.on a, .box div.on a {
    color: #337ab7 !important;
    transform: translateX(10px);
}

.list-icon {
    width: 25px;
}

.fa-project-diagram {
    font-size: 15px;
}

nav li:hover, .box div:hover {
    border-color: #dfdfdf;
    background-color: #f6f6f6;
    box-shadow: 0 0 10px  rgba(0, 0, 0, .2);
}

.author {
    position: absolute;
    left: 10px;
    bottom: 8px;
}

.author span {
    margin-left: 2px;
    font-size: 12px;
}

.content {
    float: left;
    width: 1662px;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

.user-box {
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: 20px;
    padding: 10px;
    z-index: -1;
    opacity: 0;
    transition: all .2s;
}

.user-box.on {
    opacity: 1;
    z-index: 5;
}

.triangle2 {
    position: absolute;
    right: 30px;
    transition: all .3s;
}

.triangle2.on {
    transform: rotate(180deg);
}

.box {
    width: 100%;
    display: none;
    font-size: 15px;
}

.box div {
    transition: all .3s;
    position: relative;
}

.box div a {
    padding: 12px 0 12px 40px;
    display: flex;
    transition: all .3s;

}

.box div a:hover, .box div a:link, .box div a:visited, .box div a:active {
    text-decoration: none;
    color: #222222;
}