html {
    font-size: 13.3333333vw;

}

* {
    text-decoration: none;
    box-sizing: border-box;
    
}

.clearfix::before,
.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

img {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: normal;
}