body {
    height: 1000px;
    overflow-x: hidden !important;
}

/* 导航开始 */
.nav-container {
    width: 100%;
    height: 32px;
    background-color: #f2f2f2;
    font-size: 12px;
    color: #999;
    line-height: 32px;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: content-box;
    min-width: 982px;
}

.nav-container a {
    color: #999;
}

.nav-container a:hover {
    color: #ff0036;
}

.u:hover {
    text-decoration: underline;
}

.nav-container nav {
    width: 1230px;
    margin: 0 auto;
    position: relative;
    left: -15px;
}

.nav-container .l-nav, .nav-container .l-nav li {
    float: left;
}

.nav-container .r-nav {
    float: right;
}

.nav-container .r-nav li {
    float: left;
}

.nav-container .r-nav .spliter {
    background-color: #ccc;
    width: 1px;
    height: 14px;
    margin: 9px 5px 0 7px;
}

.r-nav li > .r-cell {
    display: block;
    height: 32px;
    position: relative;
    padding: 0 10px;
    box-sizing: content-box;
    z-index: 2;
}
.nav-container .r-nav li a .red-icon {
    display: inline-block;
    color: #ff0036;
    margin-right: 4px;
}

.fa-shopping-cart {
    margin-right: 2px;
}

.nav-container .l-nav li:nth-child(2) a {
    padding-left: 20px;
    padding-right: 10px;
}

.nav-container .l-nav li:nth-child(3) a {
    padding: 0 10px;
}

b {
    position: absolute;
    right: 3px;
    top: 15px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
    transition: all .4s;
    transform-origin: 50% 25%;
}

.mytb-link, .collect-link, .sup-link, .webnav-link {
    border: 1px solid transparent;
    line-height: 30px;
}

.mytb, .collect, .sup, .webnav {
    position: absolute;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #eee;
    border-top: none;
    line-height: 20px;
    top: 33px;
    display: none;
    z-index: 9999;
}

/* 收藏夹 */
.collect {
    width: 84px;
}

/* 我的淘宝 */
.mytb {
    width: 96px;
}

/* 商家支持 */
.sup {
    width: 144px;
    color: #666;
}

.sup > div {
    padding: 5px 0;
    border-bottom: 1px dotted #827777;
}

.sup > div:first-child {
    padding-top: 0;
}

.sup > div > a:nth-of-type(2n+1) {
    margin-right: 22px;
}

/* 网站导航 */
.r-nav .webnav {
    width: 1200px;
    height: 161px;
    padding: 25px 0;
    left: 30px;
}

.webnav > div {
    padding-left: 30px;
    float: left;
}

.webnav .hot {
    width: 485px;
}

.market {
    width: 487px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

.webnav .help {
    width: 226px;
}

.webnav h3 {
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 8px;
}

.webnav .hot a:hover, .webnav .hot h3 {
    color: #f56a00;
}

.webnav .market a:hover, .webnav .market h3 {
    color: #2263d4;
}

.webnav .help a:hover, .webnav .help h3 {
    color: #666;
}

.webnav ul li {
    width: 95px;
    padding: 6px 0;
}

.webnav ul li:nth-child(5n) {
    width: auto;
}

.r-nav li > div a {
    /* display: block; */
    padding: 0;
    height: 20px;
    border: none;
    color: #666;
}

.r-nav li:hover > .mytb-link, .r-nav li:hover > .collect-link, .r-nav li:hover > .sup-link, .r-nav li:hover > .webnav-link {
    background-color: #fff;
    border: 1px solid #eee;
    border-bottom: none;
}

.r-nav li:hover > div {
    display: block;
}

.r-nav li:hover b {
    transform: rotate(180deg);
}

/* 下拉二维码 */
.qr {
    position: relative;
}

.qr-container {
    width: 175px;
    height: 227px;
    box-shadow: 0 0 5px #aaa;
    position: absolute;
    top: 26px;
    left: -53.75px;
    z-index: 9999;
    background-color: #fff;
    display: none;
}

.qrcode {
    margin-top: 5px;
    width: 175px;
    height: 175px;
    background: url(../img/index/TB1vJ0POwTqK1RjSZPhXXXfOFXa-175-215.png);
}

.qr-container span {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -2px;
    border-width: 5px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #fff;
}

.qr-container p {
    margin: 0 15px;
    line-height: 35px;
    text-indent: -9999px;
    background: url(../img/index/TB1W.19bG67gK0jSZFHXXa9jVXa-145-30.jpg) center bottom no-repeat;
}

.qr:hover .qr-container {
    display: block;
}

@media (max-width: 1260px) {
    .nav-container nav {
        width: 982px;
    }

    .r-nav li:last-child {
        display: none;
    }

    .nav-container nav {
        left: 0;
    }
}
/* 导航结束 */

/* 搜索框开始 */
.search-area {
    width: 100%;
    min-width: 982px;
    padding-top: 38px;
}

.header {
    width: 1230px;
    margin: 0 auto;
}

.header form {
    width: 625px;
    margin: 0 auto;
    border: solid #ff0036 2px;
    border-right: none;
    font-size: 0;
}

.header form input {
    width: 491px;
    padding: 5px 3px 5px 5px;
    border: none;
    height: 36px;
    font-size: 15px;
    line-height: 22px;
}

.header form button {
    height: 36px;
    width: 132px;
    border: none;
    padding: 0;
    font-weight: 700;
    color: #fff;
    background-color: #ff0036;
    float: right;
    font-size: 18px;
    letter-spacing: 5px;
    cursor: pointer;
}
@media (max-width: 1260px) {
    .header form {
        width: 410px;
    }

    .header form input {
        width: 276px;
    }
}
/* 搜索框结束 */

/* 目录开始 */
.category {
    width: 100%;
    min-width: 982px;
    margin-top: 52px;
}

.cate-nav-con {
    width: 100%;
    border-bottom: 1.5px solid #ff0036;
}

.cate-nav {
    width: 1260px;
    margin: 0 auto;
    position: relative;
    height: 35.5px;
    padding-left: 200px;
}

.logo {
    width: 240px;
    height: 130px;
    position: absolute;
    top: -129px;
    left: -20px;
}

.tmall-item-1 img, .tmall-item-2 img {
    width: 100px;
    height: 30px;
    margin-top: 3px;
}

.cate-nav a {
    padding: 0 8px;
    color: #333;
    float: left;
}

.cate-nav a:not([class*=tmall-item]) {
    line-height: 35px;
}

.cate-nav a:hover {
    color: #ff0036;
}

.show-con {
    width: 100%;
    background-color: #fe3839;
}

.show {
    width: 1260px;
    margin: 0 auto;
    position: relative;
}

.cate, .cate a {
    position: relative;
    color: #fff;
}

.show .list {
    position: relative;
    z-index: 3;
    height: 500px;
    width: 200px;
    background-color: rgba(0, 0, 0, .55);
}

.show .list li[class^=list-item] {
    height: 31.2px;
    line-height: 31.2px;
}

.show .list li:hover {
    background-color: #fff;
    font-weight: 700;
}

.show .list div[class^=item] {
    position: absolute;
    width: 852px;
    height: 500px;
    background-color: crimson;
    top: 0;
    left: 200px;
    display: none;
}

.list-item-1:hover, .list-item-1:hover a {
    color: #e54077;
}   

.list li[class^=list-item]:hover > div[class^=item] {
    display: block;
}

.list-item-2:hover, .list-item-2:hover a {
    color: #427def;
}

.list-item-3:hover, .list-item-3:hover a {
    color: #6347ed;
}

.list-item-4:hover, .list-item-4:hover a {
    color: #e54077;
}

.list-item-5:hover, .list-item-5:hover a {
    color: #6347ed;
}

.list-item-6:hover, .list-item-6:hover a {
    color: #427def;
}

.list-item-7:hover, .list-item-7:hover a {
    color: #fa5c5c;
}

.list-item-8:hover, .list-item-8:hover a {
    color: #f7a831;
}

.list-item-9:hover, .list-item-9:hover a {
    color: #f7a831;
}

.list-item-10:hover, .list-item-10:hover a {
    color: #427def;
}

.list-item-11:hover, .list-item-11:hover a {
    color: #dd2727;
}

.list-item-12:hover, .list-item-12:hover a {
    color: #427def;
}

.list-item-13:hover, .list-item-13:hover a {
    color: #f7a831;
}

.list-item-14:hover, .list-item-14:hover a {
    color: #3bc7b0;
}

.list-item-15:hover, .list-item-15:hover a {
    color: #dd2727;
}

.list-item-16:hover, .list-item-16:hover a {
    color: #3bc7b0;
}

.show .list a {
    font-size: 14px;
}

.show .list i {
    opacity: .5;
    margin: 0 8px 0 14px;
}

.show .cate .list-title i {
    margin: 0 10px 0 15.5px;
}

.show .list span {
    display: inline-block;
    width: 10px;
    height: 19px;
    text-align: right;
    line-height: 31.2px;
}

.cate .list-title {
    position: absolute;
    background-color: #ff0036;
    width: 200px;
    height: 36px;
    top: -36px;
    line-height: 36px;
    font-weight: 700;
}

.show .banner {
    position: absolute;
    top: 0;
    margin-left: 75px;
}

@media (max-width: 1260px) {
    .cate-nav, .show {
        width: 982px;
    }

    .suning {
        display: none;
    }

    .show .list div[class^=item] {
        width: 782px;
    }
}
/* 目录结束 */