<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Document</title>
</head>
<body>
    <p>这是首页</p>
    {foreach $data as $v}
    <ul>
        <li>Name: {$v['name']}</li>
        <li>Age: {$v['age']}</li>
        <li>Gender: {if $v['gender'] == 'male'}
            男
            {else}
            女
            {/if}
        </li>
    </ul>
    {/foreach}
    <a href="index.php/teach/log/add">添加日志</a>
</body>
</html>