* {
    margin: 0;
    padding: 0;
}

.con1 {
    width: 45px;
    height: 50px;
    /* border: 1px solid #e1e1e1; */
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.con2 {
    width: 45px;
    height: 50px;
    margin: 100px auto;
    position: relative;
}