

/* 主体开始 */
main {
    width: 100%;
    position: relative;
    background-color: #f1f1f1;
}



.middle-nav {
    background-color: #fff;
    width: 1241px;
    height: 132px;
    position: relative;
    margin: -147px auto 0;
    font-size: 0;
    transition: opacity .6s, transform 1.2s;
    opacity: 0;
    transform: translateY(10px);
}

.middle-nav.move {
    transform: translateY(0px);
    opacity: 1;
}

.middle-nav li {
    transition: opacity 1s, transform 1.2s;
    transform: translateX(20px);
    opacity: 0;
}

.middle-nav li .middle-item-2 {
    transition: opacity 1s .1s, transform 1.2s .1s;
}

.middle-nav li.middle-item-3 {
    transition: opacity 1s .2s, transform 1.2s .2s;
}

.middle-nav li.middle-item-4 {
    transition: opacity 1s .3s, transform 1.2s .3s;
}

.middle-nav li.middle-item-5 {
    transition: opacity 1s .4s, transform 1.2s .4s;
}

.middle-nav li.middle-item-6 {
    transition: opacity 1s .5s, transform 1.2s .5s;
}

.middle-nav li.middle-item-7 {
    transition: opacity 1s .6s, transform 1.2s .6s;
}

.middle-nav li.middle-item-8 {
    transition: opacity 1s .7s, transform 1.2s .7s;
}

.middle-nav.move li {
    transform: translateX(0px);
    opacity: 1;
}

.middle-nav li:not(:first-of-type)::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 57px;
    background: #eaeaea;
}

.img-group {
    width: 1241px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 62px;
    margin-bottom: 154px;
}

.letmove, .letmove-top {
    opacity: 0;
    transition: box-shadow .8s .05s, opacity .6s, transform 1.2s;
    transform: translateY(14px);
}

.move {
    opacity: 1;
    transform: translate(0);
}

.top-img {
    overflow: hidden;
    width: 49.396%;
}

.top-img img {
    width: 100%;
    transition: transform .8s .05s;
}

.top-img .img-link {
    position: relative;
    display: block;
    width: 613px;
    height: 362px;
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: .5;
    z-index: 10;
    transition: opacity .8s .05s;
}

.top-img:hover, .other-img:hover {
    box-shadow: 0px 0px 50px #cdcdcd;
}

.top-img:hover .cover {
    opacity: 0;
}

.top-img:hover img {
    transform: scale(1.1);
}

.img-desc {
    width: 100%;
    height: 81px;
    background-color: #fff;
    text-align: center;
    padding-top: 25px;
    font-size: 14px;
}

.text-link {
    margin-bottom: 9px;
}

.img-desc a {
    color: #000000;
    transition: color .3s;
}

.img-desc a:hover {
    color: #dd000b;
}

.img-desc span {
    color: #aaa;
}

.other-img {
    width: 402px;
    margin-top: 17px;
}


.other-img .img-link {
    display: block;
    width: 402px;
    height: 238px;
    overflow: hidden;
}

.other-img img {
    transition: transform .8s .05s;
}

.other-img:hover img {
    transform: scale(1.1);
}

.other-img .img-desc {
    padding-top: 22px;
}

.serv {
    width: 100%;
    background-color: #fff;
    height: 402px;
    position: relative;
    margin-bottom: 63px;
    transition: .6s .05s;
}

.serv:hover {
    box-shadow: 0 0 50px #cdcdcd;
}

.float-target {
    transition: .5s ease-out;
}

.serv-img-1 {
    position: absolute;
    z-index: 10;
    left: 223px;
    bottom: 0;
    transition: 2s 1s;
}

.serv-img-1.letmove {
    transform: translateX(-40px);
    opacity: 0;
}

.serv-img-1.move {
    transform: translate(0);
    opacity: 1;
}

.serv-no-show {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.serv-img-2 {
    position: absolute;
    left: 247px;
    top: 156px;
    opacity: 0;
    clip: rect(0px, 0px, 500px, -100px);
    transition: 2.1s .4s, opacity .6s .1s;
}

.serv-img-2.move {
    clip: rect(0px, 546px, 500px, -100px);
    opacity: 1;
}

.serv-img-3 {
    position: absolute;
    left: 793px;
    bottom: 27px;
    width: 777px;
    height: 777px;
    overflow: hidden;
}

.serv-img-3-1 {
    transform: scale(0);
    opacity: 0;
    transition: 2.15s .1s, opacity 1.6s .1s;
}

.serv-img-3-1.move, .serv-img-3-2.move {
    transform: scale(1);
    opacity: 1;
}

.serv-img-3-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    opacity: 0;
    transition: 2.25s .2s, opacity 1.8s .2s;
}

.serv-con {
    width: 1241px;
    height: 100%;
    margin: auto;
}

.serv-con h3 {
    display: inline-block;
    position: relative;
    z-index: 11;
    left: 320px;
    top: 70px;
    font-size: 25px;
}

.serv-con h3::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -14px;
    width: 50%;
    height: 1px;
    background-color: #ee3b44;
    transition: .6s .05s;
}

.serv:hover .serv-con h3::after {
    width: 100%;
}

.serv-con h3 a {
    color: #666;
    font-weight: normal;
}

.serv-content {
    height: 100%;
    width: 780px;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.serv-content li {
    position: relative;
    width: 33.33%;
    height: 50%;
    transition: .6s .05s;
    border: 1px solid #e2e2e2;
    border-top: 0;
}

.serv-content li:first-child, .serv-content li:nth-child(2), .serv-content li:nth-child(4), .serv-content li:nth-child(5) {
    border-right: 0;
}

.serv-content li:nth-child(4), .serv-content li:nth-child(5), .serv-content li:nth-child(6) {
    border-bottom: 0;
}

.serv-content li:hover {
    background-color: #fff;
    box-shadow: 0 0 50px #cdcdcd;
}

.serv-content li a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    padding-top: 49px;
    font-size: 14px;
    color: #666;
    transition: .6s .05s;
}

.serv-img {
    position: relative;
    width: 76px;
    height: 76px;
    margin: 0 auto 18px;
    border-radius: 50%;
    line-height: 76px;
    transition: .6s .05s;
}

.serv-img-h {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 76px;
    transition: .6s .05s;
    border-radius: 50%;
    opacity: 0;
}

.serv-content li:hover .serv-img-h {
    opacity: 1;
}

.serv-img::before,
.serv-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: -1px;
    border: 1px solid #ee3b44;
    border-radius: 50%;
    opacity: 0;
}

@keyframes ripple {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.serv-content li:hover .serv-img::before {
    animation: ripple .9s 0s ease 1;
}

.serv-content li:hover .serv-img::after {
    animation: ripple 1.5s 0s ease 1;
}

.serv-content li a img {
    vertical-align: middle;
}

/* tanslate对内联元素不起作用 */
.serv-content li a span {
    display: inline-block;
    transform: translateY(-6px);
    transition: .6s .05s;
}

.serv-content li:hover div {
    background-color: #ee3b44;
}

.serv-content li:hover span {
    color: #ee3b44;
    transform: translateY(0);
}

.news {
    width: 100%;
    height: 400px;
}

.news-content {
    width: 1241px;
    height: 100%;
    margin: auto;
}

.current-new {
    float: left;
    height: 100%;
    display: flex;
    justify-content: start;
    transition: .6s .05s;
}

.current-new:hover, .news-list:hover {
    box-shadow: 0 0 50px #cdcdcd;
}

.current-new-img, .current-new-desc, .news-list {
    width: 400px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.current-new-img img {
    transition: .8s .05s;
}

.current-new-img:hover img {
    transform: scale(1.09);
}

.current-new-desc {
    width: 420px;
    padding: 68px 50px 0 45px;
    color: #999;
}

.current-new-desc h2 {
    margin-bottom: 20px;
    line-height: 14px;
    font-size: 14px;
    font-weight: normal;
}

.current-new-desc h2 a {
    color: #333;
    transition: color .3s;
}

.current-new-desc h2 a:hover {
    color: #dd000b;
}

.new-detail {
    line-height: 12px;
    font-size: 12px;
    color: #999;
}

.new-detail span {
    margin-right: 20px;
}

.new-detail img {
    vertical-align: middle;
    margin-right: 5px;
}

.desc {
    font-size: 14px;
    margin: 35px 0 45px;
    line-height: 26px;
}

.news-more {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    line-height: 33px;
    font-size: 12px;
    font-family: simsun;
    font-weight: bold;
    text-align: center;
    transition: .4s;
}

.news-more:hover {
    border-color: #ee3b44;
    background-color: #ee3b44;
}

.news-more:hover span {
    transform: translateX(3px);
    color: #fff;
}

.news-more span {
    display: inline-block;
    color: #a8a8a8;
    position: relative;
    left: -1px;
    transition: .4s;
}

.news-list {
    float: right;
    transition: .6s .05s;
    padding: 54px 36px 0 37px;
}

.news-list h1 {
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    position: relative;
    font-weight: normal;
    margin-bottom: 25px;
}

.news-list h1::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -14px;
    width: 50%;
    height: 1px;
    background-color: #ee3b44;
    transition: width .6s .05s;  
}

.news-list:hover h1::after {
    width: 100%;
}

.news-list h1 a {
    color: #666;
}

.news-list .news-more {
    float: right;
}

.swiper-container {
    overflow: hidden;
}

.news-list .swiper-wrapper {
    height: 255px;
}

.swiper-slide {
    padding: 20px 0 21px 0;
    border-bottom: 1px solid #e5e5e5;
    height: 85px !important;
}

.swiper-slide h3 {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swiper-slide h3 a {
    color: #666;
    transition: color .3s;
}

.swiper-slide h3 a:hover {
    color: #dd000b;
}

.need-con {
    width: 1241px;
    margin: auto;
    padding: 68px 0 74px 0;
}

.need-con h1 {
    text-align: center;
    margin-bottom: 64px;
    line-height: 28px;
    color: #666;
    font-size: 28px;
    font-weight: normal;
}

.need-link-con {
    display: flex;
    justify-content: space-between;
}

.need-item {
    display: block;
    width: 296px;
    height: 137px;
    box-sizing: content-box;
    border: 1px solid #d4d4d4;
    background-color: #fff; 
    text-align: center;
    position: relative;
    transition: .6s .05s;
    overflow: hidden;
}

.need-item > img {
    margin: 25px 0 25px 0;
}

.need-item p {
    position: relative;
    font-size: 15px;
    color: #999;
    transition: color .5s;
}

.need-item:hover .need-img-h img {
    opacity: 1;
}

.need-item:hover p {
    color: #fff;
}

.need-img-h {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.need-img-h img {
    opacity: 0;
    margin: 25px 0 25px 0;
    transition: opacity .5s;
}

.hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s, transform 1s .1s;
    transform: scale(1.2);
}

.need-item:hover .hover {
    transform: scale(1);
    opacity: 1;
}

.need-item.letmove:nth-child(1) {
    transform: translateY(40px);
    transition: box-shadow .6s .05s, opacity .6s .2s, transform 1.2s .2s;
    opacity: 0;
}

.need-item.letmove:nth-child(2) {
    transform: translateY(40px);
    transition: box-shadow .6s .05s, opacity .6s .4s, transform 1.2s .4s;
    opacity: 0;
}

.need-item.letmove:nth-child(3) {
    transform: translateY(40px);
    transition: box-shadow .6s .05s, opacity .6s .6s, transform 1.2s .6s;
    opacity: 0;
}

.need-item.letmove:nth-child(4) {
    transform: translateY(40px);
    transition: box-shadow .6s .05s, opacity .6s .8s, transform 1.2s .8s;
    opacity: 0;
}

.need-item.letmove.move {
    transform: translate(0);
    opacity: 1;
}
/* 主体结束 */


